:root {
    --main-color: #088178;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    list-style: none;
    text-decoration: none;
}

h1 {
    color: #222;
    font-size: 50px;
    line-height: 64px;
}
h2 {
    color: #222;
    font-size: 46px;
    line-height: 54px;
}
h4 {
    color: #222;
    font-size: 20px;
    line-height: 64px;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
button.normal {
    color: black;
    background-color: white;
    padding: 10px 15px;
    border: none;
    transition: 0.3s;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}
button.normal:hover {
    color: white;
    background-color: var(--main-color);
}
button.white {
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
    padding: 11px 18px;
    outline: none;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}
button.white:hover {
    background-color: var(--main-color);
}

body {
    width: 100%;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 0 15px rgb(0 0 0 / 0.06);
    z-index: 999;
}
header nav {
    flex: 1;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
}
header nav ul li a {
    font-weight: 400;
    font-size: 16px;
    color: #1a1a1a;
    transition: 0.3s ease;
    position: relative;
}
header nav ul li:not(:last-child) a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    background-color: var(--main-color);
    height: 2px;
    width: 0;
    left: 0;
    transition: 0.3s ease;
}
header nav ul li a:hover,
header nav ul li a.active {
    color: var(--main-color);
}
header nav ul li a:hover::after,
header nav ul li a.active::after {
    width: 50%;
}
/* ----------------------------------- */
.landing {
    background-image: url(../imgs/hero4.png);
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.landing h4 {
    margin-bottom: 15px;
}
.landing h1 {
    color: var(--main-color);
    margin: 0;
    padding: 0;
}
.landing button {
    background-image: url(../imgs/button.png);
    background-color: transparent;
    color: var(--main-color);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
/* --------------------------------- */
.features {
    background-color: #dddddd38;
}
.features .boxes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
    text-align: center;
}
.features .feat-box {
    width: 180px;
    text-align: center;
    background-color: white;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0 0 0 / 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: 0.3s ease;
}
.features .feat-box img {
    width: 100%;
    margin-bottom: 10px;
}
.features .feat-box:hover {
    box-shadow: 10px 10px 54px rgb(70 62 21 / 0.2 );
}
.features .feat-box h6 {
    padding: 9px 8px 6px 8px;
    color: var(--main-color);
    background-color: #fddde4;
}
.features .feat-box:nth-child(2) h6 {
    background-color: #cdebbc;
}
.features .feat-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}
.features .feat-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}
.features .feat-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}
.features .feat-box:nth-child(6) h6 {
    background-color: #fff2e5;
}
/* ------------------------------- */
.products .text {
    text-align: center;
    margin-bottom: 50px;
}
.products .text h2 {
    color: var(--main-color);
}
.products .text p {
    color: #777;
}
.products .cards {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;

}
.products .card {
    position: relative;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0 0 0 / 0.03);
    text-align: left;
    transition: 0.3s;
}
.products .card:hover {
    box-shadow: 20px 20px 30px rgb(0 0 0 / 0.1);
}
.products .card .desc span {
    color: #606063;
    font-size: 12px;
    display: block;
    margin: 3px 0 10px;
}
.products .card .desc h5 {
    color: var(--main-color);
    margin-bottom: 5px;
}
.products .card .desc .rate {
    color: rgb(255, 193, 7);
}
.products .card .desc .rate i {
    font-size: 12px;
}
.products .card img {
    width: 100%;
    border-radius: 20px;
}
.products .card .price {
    font-weight: 700;
    font-size: 30px;
    color: var(--main-color);
}
.products .card a {
    color: var(--main-color);
    position: absolute;
    right: 10px;
    bottom: 30px;
    opacity: 0.8;
    width: 35px;
    height: 35px;
    line-height: 40px;
    font-weight: 500;
    background-color: #e8f6ea;
    border: 1px solid #cce7d0;
    border-radius: 50%;
    text-align: center;
}
.products .card a:hover {
    opacity: 1;
}
/* ---------------------- */
.repaires {
    background-image: url(../imgs/banner/b2.jpg);
    background-position: center;
    background-size: cover ;
    height: 40vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}
.repaires > span {
    font-size: 20px;
}
.repaires h2 {
    color: white;
}
.repaires h2 span {
    color: #ff1717;
}
.repaires button:hover {
    color: white;
    background-color: var(--main-color);
}
/* -------------------------------- */
.sm-banner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
}
.sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background-image: url(../imgs/banner/b17.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.sm-banner .banner-box h4 {
    line-height: 0;
    font-weight: 300;
    font-size: 20px;
    color: white;
}
.sm-banner .banner-box h2 {
    color: white;
    font-size: 25px;
    font-weight: 800;
}
.sm-banner .banner-box span {
    color: white;
    margin-bottom: 10px;
    font-size: 14px;
}
.sm-banner .banner-box:last-child {
    background-image: url(../imgs/banner/b10.jpg);
}
/* ------------------------------ */
.banner-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
}
.banner-3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../imgs/banner/b7.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    padding: 20px;
}
.banner-3 .banner-box:nth-child(2) {
    background-image: url(../imgs/banner/b4.jpg);
}
.banner-3 .banner-box:nth-child(3) {
    background-image: url(../imgs/banner/b18.jpg);
}
.banner-3 h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}
.banner-3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}
/* -------------------------------- */
.news-letter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
    background-image: url(../imgs/banner/b14.jpg);
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-color: #041e42;
}
.news-letter .text {
    text-align: center;
}
.news-letter .text h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
.news-letter .text p {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}
.news-letter .text p a {
    color: #ffbd27;
}

.news-letter form {
    display: flex;
    align-items: center;
}
.news-letter form input[type="email"] {
    padding: 0 1.25em;
    height: 3.125rem;
    width: 70%;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
    caret-color: var(--main-color);
    transition: 0.3S;
}
.news-letter form button {
    background-color: var(--main-color);
    color: #fff;
    white-space: nowrap;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 3.125rem;
}
.news-letter form button:hover {
    opacity: 0.7;
}
.news-letter form input[type="email"]::placeholder {
    transition: 0.3s;
}
.news-letter form input[type="email"]:focus::placeholder {
    opacity: 0;
}
/* ----------------------------- */
footer .cols {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 20px;
}
footer .col-1 .contact li {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
}
footer .col-1 .contact li span {
    color: #777;
    font-weight: 500;
    font-size: 12px;
}
footer .col-1 .contact {
    margin:20px 0;
}
footer .col-1 .social-media {
    display: flex;
    margin-top: 10px;
}

footer .col-1  .social-media i {
    font-size: 20px;
    padding-right: 10px;
}
footer .col-1  h4{
    line-height: 30px;
}

footer .col-2 a,
footer .col-3 a {
    display: block;
    color: #777;
    font-weight: 12px;
    margin-bottom: 10px;
}
footer .col-4 .store {
    display: flex;
    column-gap: 10px;
}
footer .col-4 .store img {
    width: 150px;
    border: 1px solid #777;
    border-radius: 4px;
}
footer .copyright {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    border-top: 1px solid #777;
    background-color: var(--main-color);
}
footer .copyright p {
    font-size: 18px;
    font-weight: 700;
    color: white;
}