<footer>
    <div class="cols section-p1">
        <div class="col-1">
            <img src="../imgs/logo.png" alt="">
            <ul class="contact">
                <h4>Contact</h4>
                <li>Address:<span> 562 Wellington Road Street 32. San Francisco</span></li>
                <li>Phone: <span>+01 222 365/(+91) 01 2345 6789</span></li>
                <li>Hours:<span> 10.00 - 18.00 - Mon - Sat</span></li>
            </ul>
            <h4>Follow Us</h4>
            <div class="social-media">
                <i class="fab fa-facebook-f" style="color: blue;"></i>
                <i class="fab fa-twitter" style="color: skyblue;"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p" style="color: rgb(195, 0, 0);"></i>
                <i class="fab fa-youtube" style="color: red;"></i>
            </div>
        </div>
        <div class="col-2">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">contact Us</a>
        </div>
        <div class="col-3">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Hello</a>
        </div>
        <div class="col-4">
            <h4>Install App</h4>
            <div class="store">
                <img src="../imgs/pay/app.jpg" alt="App-store">
                <img src="../imgs/pay/play.jpg" alt="Google-play">
            </div>
            <p>Secured Payment Gateways </p>
            <img src="../imgs/pay/pay.png" alt="Payment-img">
        </div>
    </div>
    <div class="copyright">
        <p>2021, Tech2 etc - HTML CSS Ecommerce Template</p>
    </div>
</footer>