<header>
    <div class="logo"><a href="#"><img src="../../imgs/logo.png" alt="LOGO"></a></div>
    <div class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav>
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="plog.html">Plog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="cart.html"><i class="fas fa-shopping-bag"></i></a></li>
        </ul>
    </nav>
</header>